<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Messages</h1>

      <ul class="list-group">

        <% messages.forEach((message) => { %>

          <li class="list-group-item">
              <p> <%= message.content %> </p>
            </li>
        <% }) %>
      </ul>

      

      <form action="/messages/create" method="post">
        <div class="form-group">
          
          <input type="text" class="form-control" name="content" aria-describedby="contentHelp" placeholder="Enter your message">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      

    </main>
    <% include ../static/partials/scripts.ejs %>
  </body>
</html>