<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Messages</h1>

      <ul class="list-group">

        <% messages.forEach((message) => { %>

          <li class="list-group-item">
              <a href="/messages/<%= message.id %>"> <%= message.content %> </a>
            </li>
        <% }) %>
      </ul>
      

    </main>
  </body>
</html>